<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0AD0E8B31C251C7200B5300A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AD0E8C61C251C7200B5300A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AD0E8D11C251C7200B5300A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
